

##  Python Programming Project - Students Evaluation
### Overview:
* In this project I have worked on Students examination scores information and performed evaluation to identify top ranking students
* I went through various steps, to arrange the data and taken out various insights from it.
* <font color='red'>**Here I have made use of basic list and dictionary functions and did not made use of any python modules like pandas and numpy to showcase my knowledge on list and dictionary operations**</font>
</div>

## Information used for this project

In [1]:
raw_info = ['Class', 'Section', 'Rollno', 'Studentname', 'Gender', 'English', 'Mathematics', 'Science',
            '8', 'A', '1', 'Neel Pittman', 'M', '34', '55', '39', '8', 'A', '2', 'Marnie Mohamed', 'F', '52', '43', '42',
            '8', 'A', '3', 'Tala Vasquez', 'F', '60', '41', '32', '8', 'A', '4', 'Fraya Ellis', 'F', '39', '46', '44',
            '8', 'A', '5', 'Clarissa Cowan', 'F', '40', '37', '54','8', 'A', '6', 'Cherish Camacho', 'M', '49', '52', '55',
            '8', 'A', '7', 'Rosalie Short', 'F', '51', '40', '40', '8', 'A', '8', 'Taiba Carr', 'M', '30', '41', '34',
            '8', 'A', '9', 'Bob Roth', 'M', '50', '48', '47', '8', 'A', '10', 'Penny Sampson', 'F', '30', '32', '46',
            '8', 'B', '1', 'Mikaeel Estrada', 'M', '35', '44', '55', '8', 'B', '2', 'Bertha Obrien', 'F', '46', '30', '50',
            '8', 'B', '3', 'Leyton Curtis', 'M', '45', '52', '31', '8', 'B', '4', 'Alton Hicks', 'M', '41', '36', '30',
            '8', 'B', '5', 'Mylee Delacruz', 'F', '39', '35', '52','8', 'B', '6', 'Garry Rodriguez', 'M', '56', '43', '57',
            '8', 'B', '7', 'Ayana Broughton', 'F', '30', '55', '48','8', 'B', '8', 'Everly Hubbard', 'F', '47', '40', '31',
            '8', 'B', '9', 'Aayat Gamble', 'F', '61', '53', '42', '8', 'B', '10', 'Shakir Silva', 'M', '37', '35', '43',
            '9', 'A', '1', 'Aryan Gray', 'M', '58', '59', '43', '9', 'A', '2', 'Eren Head', 'M', '59', '42', '51',
            '9', 'A', '3', 'Kristopher Ellwood', 'M', '38', '35', '53', '9', 'A', '4', 'Dennis Fellows', 'M', '54', '34', '32',
            '9', 'A', '5', 'Amy Caldwell', 'F', '54', '57', '49', '9', 'A', '6', 'Ember Roach', 'F', '52', '43', '56',
            '9', 'A', '7', 'James Hope', 'M', '35', '55', '38', '9', 'A', '8', 'Natasha Thomas', 'F', '33', '43', '38',
            '9', 'A', '9', 'Lyla Aguirre', 'F', '34', '31', '50', '9', 'A', '10', 'Jonathan Mcdowell', 'M', '48', '43', '54',
            '9', 'B', '1', 'Pharrell Campbell', 'M', '56', '43', '54', '9', 'B', '2', 'Riaz Patrick', 'M', '56', '37', '55',
            '9', 'B', '3', 'Payton Burnett', 'M', '40', '49', '54', '9', 'B', '4', 'Stephen Molloy', 'M', '57', '36', '41',
            '9', 'B', '5', 'Ahmad Hopper', 'M', '55', '38', '51','9', 'B', '6', 'Sheila Smith', 'F', '32', '60', '45',
            '9', 'B', '7', 'Siddharth Mcdermott', 'M', '48', '31', '32','9', 'B', '8', 'Isaiah Beasley', 'M', '59', '52', '42',
            '9', 'B', '9', 'Lynsey Henderson', 'F', '43', '50', '42','9', 'B', '10', 'Mariella Gregory', 'F', '39', '50', '40',
            '10', 'A', '1', 'Britany Travers', 'F', '30', '57', '44','10', 'A', '2', 'Yuvaan Whittington', 'M', '52', '45', '44',
            '10', 'A', '3', 'Ismaeel Mcleod', 'M', '43', '37', '50', '10', 'A', '4', 'Hannah Hamilton', 'F', '47', '49', '68',
            '10', 'A', '5', 'Tatiana Stamp', 'F', '44', '49', '37', '10', 'A', '6', 'Anaiya Bean', 'F', '45', '54', '42',
            '10', 'A', '7', 'Carina Holding', 'F', '54', '31', '38', '10', 'A', '8', 'Efan Connolly', 'M', '45', '34', '50',
            '10', 'A', '9', 'Waseem Stanton', 'M', '34', '46', '43', '10', 'A', '10', 'Ruth Hogg', 'M', '35', '35', '52',
            '10', 'B', '1', 'Naomi Walters', 'F', '54', '53', '47', '10', 'B', '2', 'Cassie Justice', 'M', '35', '36', '50',
            '10', 'B', '3', 'Maheen Dawson', 'M', '42', '33', '48', '10', 'B', '4', 'Klara Avila', 'F', '57', '49', '35',
            '10', 'B', '5', 'Javan Bowes', 'M', '32', '44', '49', '10', 'B', '6', 'Kiefer Christensen', 'M', '40', '33', '42',
            '10', 'B', '7', 'Kavan Sharples', 'M', '56', '49', '57', '10', 'B', '8', 'Lily Rose Patton', 'F', '34', '50', '44',
            '10', 'B', '9', 'Nikki Thompson', 'F', '44', '53', '57', '10', 'B', '10', 'Indi Blackwell', 'F', '42', '34', '44']

## Using the List 'raw_info', created a Nested List where the information of each student is stored in sub-lists
* I observed that the below sequence of Eight Attributes repeat in the raw_info List:
 * Class
 * Section
 * Rollno
 * Studentname
 * Gender
 * English
 * Mathematics
 * Science

In [2]:
count = 0
nested_list = []
my_list = []
for i in raw_info:
    my_list.append(i)
    count = count + 1
    if(count%8 == 0):
        nested_list.append(my_list)
        count = 0
        my_list = []

del nested_list[0]                   #deleted the 1st entry of the list as it contain headers, I donr this for better implementation of data in next steps.

nested_list

[['8', 'A', '1', 'Neel Pittman', 'M', '34', '55', '39'],
 ['8', 'A', '2', 'Marnie Mohamed', 'F', '52', '43', '42'],
 ['8', 'A', '3', 'Tala Vasquez', 'F', '60', '41', '32'],
 ['8', 'A', '4', 'Fraya Ellis', 'F', '39', '46', '44'],
 ['8', 'A', '5', 'Clarissa Cowan', 'F', '40', '37', '54'],
 ['8', 'A', '6', 'Cherish Camacho', 'M', '49', '52', '55'],
 ['8', 'A', '7', 'Rosalie Short', 'F', '51', '40', '40'],
 ['8', 'A', '8', 'Taiba Carr', 'M', '30', '41', '34'],
 ['8', 'A', '9', 'Bob Roth', 'M', '50', '48', '47'],
 ['8', 'A', '10', 'Penny Sampson', 'F', '30', '32', '46'],
 ['8', 'B', '1', 'Mikaeel Estrada', 'M', '35', '44', '55'],
 ['8', 'B', '2', 'Bertha Obrien', 'F', '46', '30', '50'],
 ['8', 'B', '3', 'Leyton Curtis', 'M', '45', '52', '31'],
 ['8', 'B', '4', 'Alton Hicks', 'M', '41', '36', '30'],
 ['8', 'B', '5', 'Mylee Delacruz', 'F', '39', '35', '52'],
 ['8', 'B', '6', 'Garry Rodriguez', 'M', '56', '43', '57'],
 ['8', 'B', '7', 'Ayana Broughton', 'F', '30', '55', '48'],
 ['8', 'B', '8', 'Everly Hubbard', 'F', '47', '40', '31'],
 ['8', 'B', '9', 'Aayat Gamble', 'F', '61', '53', '42'],
 ['8', 'B', '10', 'Shakir Silva', 'M', '37', '35', '43'],
 ['9', 'A', '1', 'Aryan Gray', 'M', '58', '59', '43'],
 ['9', 'A', '2', 'Eren Head', 'M', '59', '42', '51'],
 ['9', 'A', '3', 'Kristopher Ellwood', 'M', '38', '35', '53'],
 ['9', 'A', '4', 'Dennis Fellows', 'M', '54', '34', '32'],
 ['9', 'A', '5', 'Amy Caldwell', 'F', '54', '57', '49'],
 ['9', 'A', '6', 'Ember Roach', 'F', '52', '43', '56'],
 ['9', 'A', '7', 'James Hope', 'M', '35', '55', '38'],
 ['9', 'A', '8', 'Natasha Thomas', 'F', '33', '43', '38'],
 ['9', 'A', '9', 'Lyla Aguirre', 'F', '34', '31', '50'],
 ['9', 'A', '10', 'Jonathan Mcdowell', 'M', '48', '43', '54'],
 ['9', 'B', '1', 'Pharrell Campbell', 'M', '56', '43', '54'],
 ['9', 'B', '2', 'Riaz Patrick', 'M', '56', '37', '55'],
 ['9', 'B', '3', 'Payton Burnett', 'M', '40', '49', '54'],
 ['9', 'B', '4', 'Stephen Molloy', 'M', '57', '36', '41'],
 ['9', 'B', '5', 'Ahmad Hopper', 'M', '55', '38', '51'],
 ['9', 'B', '6', 'Sheila Smith', 'F', '32', '60', '45'],
 ['9', 'B', '7', 'Siddharth Mcdermott', 'M', '48', '31', '32'],
 ['9', 'B', '8', 'Isaiah Beasley', 'M', '59', '52', '42'],
 ['9', 'B', '9', 'Lynsey Henderson', 'F', '43', '50', '42'],
 ['9', 'B', '10', 'Mariella Gregory', 'F', '39', '50', '40'],
 ['10', 'A', '1', 'Britany Travers', 'F', '30', '57', '44'],
 ['10', 'A', '2', 'Yuvaan Whittington', 'M', '52', '45', '44'],
 ['10', 'A', '3', 'Ismaeel Mcleod', 'M', '43', '37', '50'],
 ['10', 'A', '4', 'Hannah Hamilton', 'F', '47', '49', '68'],
 ['10', 'A', '5', 'Tatiana Stamp', 'F', '44', '49', '37'],
 ['10', 'A', '6', 'Anaiya Bean', 'F', '45', '54', '42'],
 ['10', 'A', '7', 'Carina Holding', 'F', '54', '31', '38'],
 ['10', 'A', '8', 'Efan Connolly', 'M', '45', '34', '50'],
 ['10', 'A', '9', 'Waseem Stanton', 'M', '34', '46', '43'],
 ['10', 'A', '10', 'Ruth Hogg', 'M', '35', '35', '52'],
 ['10', 'B', '1', 'Naomi Walters', 'F', '54', '53', '47'],
 ['10', 'B', '2', 'Cassie Justice', 'M', '35', '36', '50'],
 ['10', 'B', '3', 'Maheen Dawson', 'M', '42', '33', '48'],
 ['10', 'B', '4', 'Klara Avila', 'F', '57', '49', '35'],
 ['10', 'B', '5', 'Javan Bowes', 'M', '32', '44', '49'],
 ['10', 'B', '6', 'Kiefer Christensen', 'M', '40', '33', '42'],
 ['10', 'B', '7', 'Kavan Sharples', 'M', '56', '49', '57'],
 ['10', 'B', '8', 'Lily Rose Patton', 'F', '34', '50', '44'],
 ['10', 'B', '9', 'Nikki Thompson', 'F', '44', '53', '57'],
 ['10', 'B', '10', 'Indi Blackwell', 'F', '42', '34', '44']]

## Used the created Nested List to correct the format of Numbers shown as Strings

In [3]:
nested_list_1 = nested_list
nested_list_2 = []

for i in nested_list_1:
    my_list = []
    for j in i:
        if (j.isdigit() == 1):
            my_list.append(int(j))
        else:
            my_list.append(j)
    nested_list_2.append(my_list)

nested_list = nested_list_2

nested_list

[[8, 'A', 1, 'Neel Pittman', 'M', 34, 55, 39],
 [8, 'A', 2, 'Marnie Mohamed', 'F', 52, 43, 42],
 [8, 'A', 3, 'Tala Vasquez', 'F', 60, 41, 32],
 [8, 'A', 4, 'Fraya Ellis', 'F', 39, 46, 44],
 [8, 'A', 5, 'Clarissa Cowan', 'F', 40, 37, 54],
 [8, 'A', 6, 'Cherish Camacho', 'M', 49, 52, 55],
 [8, 'A', 7, 'Rosalie Short', 'F', 51, 40, 40],
 [8, 'A', 8, 'Taiba Carr', 'M', 30, 41, 34],
 [8, 'A', 9, 'Bob Roth', 'M', 50, 48, 47],
 [8, 'A', 10, 'Penny Sampson', 'F', 30, 32, 46],
 [8, 'B', 1, 'Mikaeel Estrada', 'M', 35, 44, 55],
 [8, 'B', 2, 'Bertha Obrien', 'F', 46, 30, 50],
 [8, 'B', 3, 'Leyton Curtis', 'M', 45, 52, 31],
 [8, 'B', 4, 'Alton Hicks', 'M', 41, 36, 30],
 [8, 'B', 5, 'Mylee Delacruz', 'F', 39, 35, 52],
 [8, 'B', 6, 'Garry Rodriguez', 'M', 56, 43, 57],
 [8, 'B', 7, 'Ayana Broughton', 'F', 30, 55, 48],
 [8, 'B', 8, 'Everly Hubbard', 'F', 47, 40, 31],
 [8, 'B', 9, 'Aayat Gamble', 'F', 61, 53, 42],
 [8, 'B', 10, 'Shakir Silva', 'M', 37, 35, 43],
 [9, 'A', 1, 'Aryan Gray', 'M', 58, 59, 43],
 [9, 'A', 2, 'Eren Head', 'M', 59, 42, 51],
 [9, 'A', 3, 'Kristopher Ellwood', 'M', 38, 35, 53],
 [9, 'A', 4, 'Dennis Fellows', 'M', 54, 34, 32],
 [9, 'A', 5, 'Amy Caldwell', 'F', 54, 57, 49],
 [9, 'A', 6, 'Ember Roach', 'F', 52, 43, 56],
 [9, 'A', 7, 'James Hope', 'M', 35, 55, 38],
 [9, 'A', 8, 'Natasha Thomas', 'F', 33, 43, 38],
 [9, 'A', 9, 'Lyla Aguirre', 'F', 34, 31, 50],
 [9, 'A', 10, 'Jonathan Mcdowell', 'M', 48, 43, 54],
 [9, 'B', 1, 'Pharrell Campbell', 'M', 56, 43, 54],
 [9, 'B', 2, 'Riaz Patrick', 'M', 56, 37, 55],
 [9, 'B', 3, 'Payton Burnett', 'M', 40, 49, 54],
 [9, 'B', 4, 'Stephen Molloy', 'M', 57, 36, 41],
 [9, 'B', 5, 'Ahmad Hopper', 'M', 55, 38, 51],
 [9, 'B', 6, 'Sheila Smith', 'F', 32, 60, 45],
 [9, 'B', 7, 'Siddharth Mcdermott', 'M', 48, 31, 32],
 [9, 'B', 8, 'Isaiah Beasley', 'M', 59, 52, 42],
 [9, 'B', 9, 'Lynsey Henderson', 'F', 43, 50, 42],
 [9, 'B', 10, 'Mariella Gregory', 'F', 39, 50, 40],
 [10, 'A', 1, 'Britany Travers', 'F', 30, 57, 44],
 [10, 'A', 2, 'Yuvaan Whittington', 'M', 52, 45, 44],
 [10, 'A', 3, 'Ismaeel Mcleod', 'M', 43, 37, 50],
 [10, 'A', 4, 'Hannah Hamilton', 'F', 47, 49, 68],
 [10, 'A', 5, 'Tatiana Stamp', 'F', 44, 49, 37],
 [10, 'A', 6, 'Anaiya Bean', 'F', 45, 54, 42],
 [10, 'A', 7, 'Carina Holding', 'F', 54, 31, 38],
 [10, 'A', 8, 'Efan Connolly', 'M', 45, 34, 50],
 [10, 'A', 9, 'Waseem Stanton', 'M', 34, 46, 43],
 [10, 'A', 10, 'Ruth Hogg', 'M', 35, 35, 52],
 [10, 'B', 1, 'Naomi Walters', 'F', 54, 53, 47],
 [10, 'B', 2, 'Cassie Justice', 'M', 35, 36, 50],
 [10, 'B', 3, 'Maheen Dawson', 'M', 42, 33, 48],
 [10, 'B', 4, 'Klara Avila', 'F', 57, 49, 35],
 [10, 'B', 5, 'Javan Bowes', 'M', 32, 44, 49],
 [10, 'B', 6, 'Kiefer Christensen', 'M', 40, 33, 42],
 [10, 'B', 7, 'Kavan Sharples', 'M', 56, 49, 57],
 [10, 'B', 8, 'Lily Rose Patton', 'F', 34, 50, 44],
 [10, 'B', 9, 'Nikki Thompson', 'F', 44, 53, 57],
 [10, 'B', 10, 'Indi Blackwell', 'F', 42, 34, 44]]

### Using the updated Nested List, stored the information in a Nested Dictionary which follows the structure --> {Class : {Section : { Student Name : [Subject Marks] } } }

* Here I have declared 2 lists which contains class and section by observing the data in the raw_info to create a dictionary in above format.

In [4]:
dict_class= {}
dict_section = {}
my_dict = {}

classs = [8,9,10]
section = ['A','B']

for i in classs:
    dict_section = {}
    for j in section:
        my_dict = {}
        for k in nested_list:
            if(k[0]== i and k[1] == j):
                my_dict.update({k[3]:k[5:8]})
            dict_section.update({j:my_dict})
    dict_class.update({i:dict_section})


dict_class

{8: {'A': {'Neel Pittman': [34, 55, 39],
   'Marnie Mohamed': [52, 43, 42],
   'Tala Vasquez': [60, 41, 32],
   'Fraya Ellis': [39, 46, 44],
   'Clarissa Cowan': [40, 37, 54],
   'Cherish Camacho': [49, 52, 55],
   'Rosalie Short': [51, 40, 40],
   'Taiba Carr': [30, 41, 34],
   'Bob Roth': [50, 48, 47],
   'Penny Sampson': [30, 32, 46]},
  'B': {'Mikaeel Estrada': [35, 44, 55],
   'Bertha Obrien': [46, 30, 50],
   'Leyton Curtis': [45, 52, 31],
   'Alton Hicks': [41, 36, 30],
   'Mylee Delacruz': [39, 35, 52],
   'Garry Rodriguez': [56, 43, 57],
   'Ayana Broughton': [30, 55, 48],
   'Everly Hubbard': [47, 40, 31],
   'Aayat Gamble': [61, 53, 42],
   'Shakir Silva': [37, 35, 43]}},
 9: {'A': {'Aryan Gray': [58, 59, 43],
   'Eren Head': [59, 42, 51],
   'Kristopher Ellwood': [38, 35, 53],
   'Dennis Fellows': [54, 34, 32],
   'Amy Caldwell': [54, 57, 49],
   'Ember Roach': [52, 43, 56],
   'James Hope': [35, 55, 38],
   'Natasha Thomas': [33, 43, 38],
   'Lyla Aguirre': [34, 31, 50],
   'Jonathan Mcdowell': [48, 43, 54]},
  'B': {'Pharrell Campbell': [56, 43, 54],
   'Riaz Patrick': [56, 37, 55],
   'Payton Burnett': [40, 49, 54],
   'Stephen Molloy': [57, 36, 41],
   'Ahmad Hopper': [55, 38, 51],
   'Sheila Smith': [32, 60, 45],
   'Siddharth Mcdermott': [48, 31, 32],
   'Isaiah Beasley': [59, 52, 42],
   'Lynsey Henderson': [43, 50, 42],
   'Mariella Gregory': [39, 50, 40]}},
 10: {'A': {'Britany Travers': [30, 57, 44],
   'Yuvaan Whittington': [52, 45, 44],
   'Ismaeel Mcleod': [43, 37, 50],
   'Hannah Hamilton': [47, 49, 68],
   'Tatiana Stamp': [44, 49, 37],
   'Anaiya Bean': [45, 54, 42],
   'Carina Holding': [54, 31, 38],
   'Efan Connolly': [45, 34, 50],
   'Waseem Stanton': [34, 46, 43],
   'Ruth Hogg': [35, 35, 52]},
  'B': {'Naomi Walters': [54, 53, 47],
   'Cassie Justice': [35, 36, 50],
   'Maheen Dawson': [42, 33, 48],
   'Klara Avila': [57, 49, 35],
   'Javan Bowes': [32, 44, 49],
   'Kiefer Christensen': [40, 33, 42],
   'Kavan Sharples': [56, 49, 57],
   'Lily Rose Patton': [34, 50, 44],
   'Nikki Thompson': [44, 53, 57],
   'Indi Blackwell': [42, 34, 44]}}}

### Created a Function which takes Class (C), Section (S) and Student Name (N) as input and prints subject wise marks of that student.

In [5]:
def show_sub_scores(C,S,N):
    print(f'Name:{N}, Class:{C}-{S}')
    print(f'English : {dict_class[C][S][N][0]}')
    print(f'Mathematics : {dict_class[C][S][N][1]}')
    print(f'Science : {dict_class[C][S][N][2]}')

#### Example : 1

In [6]:
show_sub_scores(10,'B','Javan Bowes')

Name:Javan Bowes, Class:10-B
English : 32
Mathematics : 44
Science : 49

#### Example : 2

In [7]:
show_sub_scores(8,'B','Mylee Delacruz')

Name:Mylee Delacruz, Class:8-B
English : 39
Mathematics : 35
Science : 52

### Made changes in the Nested Dictionary such that the individual subject scores (a list) is replaced with the Total scores (sum of these three subjects)

* Here I have used the code from the previous cell as only one change was full filling my purpose.

In [8]:
dict_class= {}
dict_section = {}
my_dict = {}

classs = [8,9,10]
section = ['A','B']

for i in classs:
    dict_section = {}
    for j in section:
        my_dict = {}
        for k in nested_list:
            if(k[0]== i and k[1] == j):
                my_dict.update({k[3]:k[5]+k[6]+k[7]})             #Change#
            dict_section.update({j:my_dict})
    dict_class.update({i:dict_section})


dict_class

{8: {'A': {'Neel Pittman': 128,
   'Marnie Mohamed': 137,
   'Tala Vasquez': 133,
   'Fraya Ellis': 129,
   'Clarissa Cowan': 131,
   'Cherish Camacho': 156,
   'Rosalie Short': 131,
   'Taiba Carr': 105,
   'Bob Roth': 145,
   'Penny Sampson': 108},
  'B': {'Mikaeel Estrada': 134,
   'Bertha Obrien': 126,
   'Leyton Curtis': 128,
   'Alton Hicks': 107,
   'Mylee Delacruz': 126,
   'Garry Rodriguez': 156,
   'Ayana Broughton': 133,
   'Everly Hubbard': 118,
   'Aayat Gamble': 156,
   'Shakir Silva': 115}},
 9: {'A': {'Aryan Gray': 160,
   'Eren Head': 152,
   'Kristopher Ellwood': 126,
   'Dennis Fellows': 120,
   'Amy Caldwell': 160,
   'Ember Roach': 151,
   'James Hope': 128,
   'Natasha Thomas': 114,
   'Lyla Aguirre': 115,
   'Jonathan Mcdowell': 145},
  'B': {'Pharrell Campbell': 153,
   'Riaz Patrick': 148,
   'Payton Burnett': 143,
   'Stephen Molloy': 134,
   'Ahmad Hopper': 144,
   'Sheila Smith': 137,
   'Siddharth Mcdermott': 111,
   'Isaiah Beasley': 153,
   'Lynsey Henderson': 135,
   'Mariella Gregory': 129}},
 10: {'A': {'Britany Travers': 131,
   'Yuvaan Whittington': 141,
   'Ismaeel Mcleod': 130,
   'Hannah Hamilton': 164,
   'Tatiana Stamp': 130,
   'Anaiya Bean': 141,
   'Carina Holding': 123,
   'Efan Connolly': 129,
   'Waseem Stanton': 123,
   'Ruth Hogg': 122},
  'B': {'Naomi Walters': 154,
   'Cassie Justice': 121,
   'Maheen Dawson': 123,
   'Klara Avila': 141,
   'Javan Bowes': 125,
   'Kiefer Christensen': 115,
   'Kavan Sharples': 162,
   'Lily Rose Patton': 128,
   'Nikki Thompson': 154,
   'Indi Blackwell': 120}}}

## Found the Highest values of these Total Scores for each Class and stored them in a Dictionary
* For the Dictionary , the 'Key' and 'Value' parts are Class and Max of Total Scores respectively

In [9]:
max_scores = {}
classs = [8,9,10]
section = ['A','B']

for i in classs:
    my_list = []
    for j in section:
        a=(max(dict_class[i][j].values()))
        my_list.append(a)
    max_scores.update({i:max(my_list)})

max_scores

{8: 156, 9: 160, 10: 164}

## Found Top Scorers for each Class and stored them in a Dictionary (taken care of multiple top scorers)
* For the Dictionary the 'Key' part is the Class
* The 'Value' part is a List, which stores the name of Top Scorer(s)

In [10]:
class_toppers = {}




classs = [8,9,10]

section = ['A','B']

for i in classs:
    my_list = []
    for j in section:
        my_dict = dict_class[i][j]
        for k,l in my_dict.items():
            if (l == max_scores[i]):
                my_list.append(k)
    class_toppers.update({i:my_list})

class_toppers

{8: ['Cherish Camacho', 'Garry Rodriguez', 'Aayat Gamble'],
 9: ['Aryan Gray', 'Amy Caldwell'],
 10: ['Hannah Hamilton']}